.featuresCard {
  box-shadow: 0px 0px 5px 0px #0000001a;
  border-radius: 12px;
  padding: 30px 30px;
  margin-bottom: 30px;
  width: 32%;
}
.icon {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #f3f3f5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}
.icon svg {
  transform: scale(0.7);
}
.title {
  font-size: 22px;
  font-weight: 600;
  color: #000;
  transition: var(--transition);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1; /* Number of lines to show */
  line-clamp: 1;
  text-overflow: ellipsis;
  margin-bottom: 14px;
}
.description {
  margin-bottom: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2; /* Number of lines to show */
  line-clamp: 2;
  text-overflow: ellipsis;
}
.viewMore {
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  transition: var(--transition);
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  border: 1px solid var(--secondary-color);
  background-color: transparent;
  color: var(--secondary-color);
}
.viewMore:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

/* Media Queries */
@media screen and (max-width: 992px) {
  .featuresCard {
    width: 49%;
  }
}
@media screen and (max-width: 576px) {
  .featuresCard {
    width: 100%;
  }
}
